/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

@media only screen and (max-width:768px){
  header h1{
    font-size: 1.2rem;
  }
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

@media only screen and (max-width:768px){
  
  .home{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .workout-details h4 {
    font-size: 1rem;
  }
  .workout-details p {
    font-size: 0.8rem;
  }
  .timestamp{
    padding-top: 10px;
  }
}

/* new workout form */
label, input {
  display: block;
}
input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

@media only screen and (max-width:768px){
  

  label {
    font-size: 0.9rem;
  }
  input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
  }
  form button {
    padding: 8px;
    font-size: 0.8rem;
    width: 100%;
  }
  form h3{
    text-align: center;
  }
  div.error {
    text-align: center;
    font-size: 0.8rem;
    padding: 8px;
    margin: 20px 0 0 0;
  }
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

.link{
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  font-size: 1rem;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left : 10px;
}

@media only screen and (max-width:768px){
  .link{
    padding: 4px 6px;
    font-size: 0.7rem;
  }

  nav button{
    padding: 4px 6px;
    font-size: 0.7rem;
  }
  nav span{
    display: none;
  }
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

@media only screen and (max-width:768px){
    .login label,.signup label {
          font-size: 0.8rem;
    } 

    .login button, .signup button{
      font-size: 0.6rem;
      width: 100%;
    }
}